<link rel='stylesheet' href='main.css' />

{% extends 'todoapps/base.html' %}

{% block content %} 

    <p>Topic: {{ topic }}</p>

    <p>Tasks:</p>
    <ul style="list-style: none;">
    {% for task in tasks %} 
      <li>
        <!-- <p>{{ task.date_added|date:'M d, Y H:i' }}</p> -->
        <p>{{ task.text|linebreaks }}</p>
      </li>

      <!-- <li> -->
      <!--     <input type="checkbox"> {{ task.text|linebreaks }} -->
      <!-- </li> -->

    {% empty %}
      <li>There are no entries for this topic yet.</li>
    {% endfor %}
    </ul>

{% endblock content %}
